
div(class="card mb-4 shadow-sm", style="background-color: #072146")
  div.col-md-12
    div.container.px-2.px-sm-3
      div.row
        div.col-md-5
          dl
            dd 
              span(style={color: 'white'}) Version: #{global.appVersion} 
              br
              span(style={color: 'white'})
                a(class="navbar-brand", href="https://bgeometrics.com/")
                  img(src="/Logo_BGeometrics_write.png" width="35%" height="35%")
