extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Node full Bitcoin
    div.Message
      div.Title
        h3 Node full Bitcoin
        h1 For Bitcoin
      span.Details Web portal config
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!
