extends layout_mini

block content
  div(class="card mb-4 shadow-sm")
    br
    div.col-md-12
      div.container.px-2.px-sm-3
        div.row
          div.col-md-9
            div.container.px-2.px-sm-3
              div.card.mb-4.shadow-sm
                div.card-header
                  p.h2.h6.mb-0 OpenVPN
                div.card-body
                  - var port_external = '4444'
                  - var port_internal = '3000'
                  - var url = 'https://' + ip_external + ':' + port_external + '/bcube.ovpn';
                  - var url_internal = 'http://' + ip_internal + ':' + port_internal;
                  |
                  |
                  p How to connect to the VPN
                  p 1- Install the software OpenVPN client on the device: Computer, mobile, Tablet ...
                  p 2- Download the configuration file of this link 
                    a(class='rounded bg-primary text-white px-2 py-1' href=url) bcube.ovpn
                  p The username: <mark>#{user}</mark> and password: <mark>#{password}</mark> are the same that the Bcube website
                  p 3- Start the OpenVPN program
                  p 4- In the OpenVPN program, add (+) -> Import Profile -> FILE, indicate the file that you have downloaded
                  p
                  p From the client device you have to be able access to the web server and the port where you are listening to be able to download the file and to the port (443) where you listen to the OpenVPN and web server processes
                  |
                  p
                  |
                  form(method='POST' action='./openvpn_set_port')
                    div.form-group
                      label(for='name') If the router is port forwarding 443 to another port:
                      input#name.form-control(type='text', placeholder='port' name='port')
                    button.btn.btn-primary(type='submit') Submit

          div.col-md-3
            div.container.px-2.px-sm-3
              div.card.mb-4.shadow-sm
                div.card-header
                  h2.h6 Help
                div.card-body
                  p If you connect through the OpenVPN, for example from your mobile or tablet, you can access the Bcube website from any location and secure with: 
                  a(class='rounded bg-primary text-white px-2 py-1' href=url_internal) Bcube
       
