extends layout_mini

block content
  div(class="card mb-4 shadow-sm")
    br
    div.col-md-12
      div.container.px-2.px-sm-3
        div.row
          div.col-md-9
            div.container.px-2.px-sm-3
              div.card.mb-4.shadow-sm
                div.card-body
                  a(class='rounded bg-primary text-white px-2 py-1' href="./web_security" title='Option to activate authentication in the configuration web') Authentication web on
                  | &nbsp;
                  a(class='rounded bg-primary text-white px-2 py-1' href="./web_security_desactivate" title='Option to desactivate authentication in the configuration web') Authentication web off
                  | &nbsp;
                  a(class='rounded bg-primary text-white px-2 py-1'  href="./system_ports_home") System ports
                  | &nbsp;
                  a(class='rounded bg-primary text-white px-2 py-1' href="./upnp_home") UPnP
                  | &nbsp;
                  a(class='rounded bg-primary text-white px-2 py-1' href="./port_home") Port redirect
                  | &nbsp;
              div.card.mb-4.shadow-sm
                div.card-body
                  a(class='rounded bg-primary text-white px-2 py-1'  href="./password_reset" title='The default password is set: pythagoras') Password reset
                  | &nbsp;
                  a(class='rounded bg-primary text-white px-2 py-1'  href="./password_unique" title='Put a generated password that is unique per node') Password unique
                  | &nbsp;
                  a(class='rounded bg-primary text-white px-2 py-1'  href="./webconfig_restart" title="Restart only website") BCubium web restart
                  | &nbsp;
                  a(class='rounded bg-primary text-white px-2 py-1'  href="./reboot_node" title='Until startup the node will stop working') BCubium reboot
                  | &nbsp;
                  a(class='rounded bg-primary text-white px-2 py-1'  href="./halt_node" title='To start it you have to remove and put the power cable') BCubium stop
                  | &nbsp;

              div.card.mb-4.shadow-sm
                div.card-body
                  div.col-md-9
                    if (user)
                      span.font-weight-bold User: 
                        input(type="text" id="myUser" name="user" value="user" style="border: none;" readonly)
                      | 
                      span.font-weight-bold Pass: 
                        input(type="password" id="myPassword" name="password" value="password" style="border: none;width: 30%;" readonly) 
                      | &nbsp;
                      a(href="javascript:void(0)" onclick=("javascript:var x = document.getElementById('myPassword'); if (x.type === 'password') { x.type = 'text'; } else { x.type = 'password';}")) 
                        i(class="far fa-eye fa-w-20", style="margin-top: 6px;")

              if settings_message
                p #{settings_message}
              div.card.mb-4.shadow-sm
                div.card-header
                  p.h2.h6.mb-0 Password change 
                div.card-body
                  div(class="table-responsive")
                    form(method='POST' action='./password_change')
                      table(class="table text-left mb-5 mb-lg-0")
                        tbody
                          tr
                            td Current password: 
                            td 
                              input#name.form-control(type='password', placeholder='Current password' name='password_current')
                          tr
                            td New password: 
                            td 
                              input#name.form-control(type='password', placeholder='New password' name='password_new')
                          tr
                            td Confirm new password: 
                            td 
                              input#name.form-control(type='password', placeholder='New password' name='password_new_confirm')
                          tr
                            td 
                              button.btn.btn-primary(type='submit') Change
                            td 

          div.col-md-3
            div.container.px-2.px-sm-3
              div.card.mb-4.shadow-sm
                div.card-header
                  h2.h6 Do you know...?
                div.card-body
                  p BCubium node configuration options.

