extends layout_mini

block content
  div.row
    div.col-md-9
      div.container.px-2.px-sm-3
        div.card.mb-4.shadow-sm
          div.card-header
            p.h2.h6.mb-0 UPnP
          div.card-body
            if (upnp_rules)
              each rule in upnp_rules
                li #{rule.line}
                  a(class='rounded bg-primary text-white px-2 py-1' href="./upnp_delete?external_port=" + rule.external_port) delete
              br

              form(method='POST' action='./upnp_add')
                label(for='external_port') External port:
                input#name.form-control(type='text', placeholder='External port' name='external_port')
                br
                label(for='internal_port') Internal port:
                input#name.form-control(type='text', placeholder='Internal port' name='internal_port')
                br
                button.btn.btn-primary(type='submit') Add
              |
              p #{usefull_message}

            p
            |
            a(class='rounded bg-primary text-white px-2 py-1' href="./") Home

    div.col-md-3
      div.container.px-2.px-sm-3
        div.card.mb-4.shadow-sm
          div.card-header
            h2.h6 Help
          div.card-body
            p Vale venga esto puede ser cualquier texto de soporte para que el usuario tenga una idea más clara
