extends layout

block content
  div.row
    div.col-md-9
      div.container.px-2.px-sm-3
        div.card.mb-4.shadow-sm
          div.card-header
            p.h2.h6.mb-0 Wifi
          div.card-body
            a(class='rounded bg-primary text-white px-2 py-1' href="./wifi_scan") Scan
            br
            if networks != null
              each network in networks
                li Network SSID: #{network.ssid} Quality: #{network.quality} Signal level: #{network.signal_level}
            br

            if ssid == null
              form(method='POST' action='./wifi_connect')
                div
                  label(for='name') Wifi ssid:
                  input#name.form-control(type='text', placeholder='ssid' name='ssid')
                  br
                  label(for='password') Wifi password:
                  input#name.form-control(type='pass', placeholder='password' name='wifi_password')
                  br
                  button.btn.btn-primary(type='submit') Connect
            else
              p Connect wifi #{ssid}
            p
            |
            a(class='rounded bg-primary text-white px-2 py-1' href="./") Home

    div.col-md-3
      div.container.px-2.px-sm-3
        div.card.mb-4.shadow-sm
          div.card-header
            h2.h6 Help
          div.card-body
            p Vale venga esto puede ser cualquier texto de soporte para que el usuario tenga una idea más clara

    
