extends layout_mini

block content
  div(class="card mb-4 shadow-sm")
    br
    div.col-md-12
      div.container.px-2.px-sm-3
        div.row
          div.col-md-9
            div.container.px-2.px-sm-3
              div.card.mb-4.shadow-sm
                div.card-header
                  p.h2.h6.mb-0 WireGuard
                div.card-body
                  - var port_external = '4444'
                  - var port_internal = '3000'
                  - var fqdn = 'bcube.dyndns.com'
                  - var url = 'https://' + ip_external + ':' + port_external + '/client-wg0.conf';
                  - var url_dns = 'https://' + fqdn + ':' + port_external + '/client-bcube-dns.conf';
                  - var url_internal = 'https://' + ip_internal + ':' + port_external + '/client-wg0.conf';
                  |
                  |
                  p 
                    a(class='rounded bg-primary text-white px-2 py-1' href='./wireguard_update_publicIP' title='Click link if the public IP has changed, the WireGuard client configuration must be updated.') Configuration update by public ip change
                    if wireguard_message
                      p <mark>#{wireguard_message}</mark>
                  p 
                  p <b>How to connect to the WireGuard</b>
                  p 1- Install the software WireGuard client on the devices: Mobile, computer, tablet ...
                  p 2- Add -> Create from QR code for Public IP
                  img(src="/bcube-wg0.png" alt="QR code WireGuard public IP")
                  p
                  p 3- If you want to import the client configuration by file and not by QR code: 
                    a(class='rounded bg-primary text-white px-2 py-1' href=url_internal) WireGuard client 
                  br

                  div.col-md-5
                    if (user)
                      p.font-weight-bold User: 
                        input(type="text" id="myUser" name="user" value="user" style="border: none;" readonly)
                        |
                  div.col-md-5
                    if (password)
                      p.font-weight-bold Pass: 
                        input(type="password" id="myPassword" name="password" value="password" style="border: none; width: 45%;" readonly)
                        a(href="javascript:void(0)" onclick=("javascript:var x = document.getElementById('myPassword'); if (x.type === 'password') { x.type = 'text'; } else { x.type = 'password';}"))
                          i(class="far fa-eye fa-w-20", style="margin-top: 6px;")

                  br
                  br

                  form(method='POST' action='./wireguard_set_port')
                    div.form-group
                      p If you have had another public IP or FQDN (Fully Qualified Domain Name) indicate it here to generate a new QR:
                      input#name.form-control(type='text', placeholder='Public IP or FQDN' name='ip')
                      br
                      p If you have had to perform a port forwarding on the router to access the wireguard 28165 UDP port, indicate it here to generate a new QR:
                      input#name.form-control(type='text', placeholder='Port' name='port')
                    button.btn.btn-primary(type='submit') Change

          div.col-md-3
            div.container.px-2.px-sm-3
              div.card.mb-4.shadow-sm
                div.card-header
                  h2.h6 Do you know...?
                div.card-body
                  p If you download the Wireguard client, it will ask you for the username and password and it is possible that the browser will show a security warning for accessing through https and IP, click on advanced and accept the warning.
                  p If you connect through the WireGuard, for example from your mobile or tablet, you can access the BCubium website from any location and secure with: 
                  a(class='rounded bg-primary text-white px-2 py-1' href=url_internal) BCubium
             
